<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <button class="btn btn-primary pull-right">ADD</button>
      <table class="table table-houver">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Endereço</th>
            <th>Ação</th>
          </tr>
          </thead>
          <tbody>
            <tr>
          <td>sopeap</td>
          <td>Endereço</td>
          <td>
            <button class="btn btn-warning">Edit</button> |
            <button class="btn btn-danger">Delete</button>
          </td>
            </tr>
          </tbody>
      </table>
    </div>
  </div>

</div>
